GOOGLE_CLIENT_ID = "your google client id"
GOOGLE_CLIENT_SECRET = "your google secret"
CUSTOM_DOMAIN_FILTER = 'yourdomain.com'
SECRET_KEY_BASE = 'your secret'
HOST = 'your_doorkeeper_server_host_name'
ENCRYPTOR_KEY="keytoencryptor"
BACKEND_CALLBACK_URI_PATH= /backend/path/callback
FRONTEND_CALLBACK_URI_PATH= /frontend/path/callback
