
<%= form_tag admin_site_users_filter_path, method: :post do %>

  <div class="c-card">

    <%= text_field_tag :user_name, session[:user_name_filter], placeholder: 'site name' %>

    <footer class="c-card__footer c-card__footer--block">
      <div class="c-input-group">
        <p class="c-button--block">(Limit: 30 sites)</p>
      </div>
      <div class="c-input-group">
        <%= submit_tag :filter, class: 'c-button c-button--info c-button--block' %>
        <%= link_to "Clear Filter", admin_site_users_clear_filter_path, class: 'c-button c-button--default c-button--block' %>
      </div>
      <div class="c-input-group">
        <br />
      </div>
    </footer>
  </div>

<% end %>
