<div class="error" id="error"></div>
<div class="g-signin2" data-onsuccess="onSignIn" data-longtitle="true" data-theme="dark"></div>
<a href="#" onclick="signOut();">Sign out</a>


<% content_for :javascript_includes do %>
  <%= javascript_include_tag "login.js" %>
<% end %>

<% unless Rails.env=='production' %>
  <button onclick="login('<%= token_login %>')">Login</button>
<% end %>
