<div class="container">
<% if user_signed_in?  %>
  <p>Welcome back, <a href="mailto:<%= current_user.email %>"><%= current_user.name %></a>!</p>
<% else  %>
  <p><%= link_to 'Login with Google+', user_google_oauth2_omniauth_authorize_path %></p>
<% end %>
</div>
