// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-responsive
{
  overflow-x: auto;
}
.app
{
  color: #5ca1b8 !important;
  font-weight: bold;
}

body
{
  color: #5ca1b8 !important;
}

.error {
  margin: 2em auto 0;
}
.error p {
  color: red;
  font-weight: bold;
  padding: 1em;
  background-color: #ff120033;
  border-radius: 5px;
}
