<!DOCTYPE html>
<html>
<head>
  <title>Dkprovider</title>
  <%= stylesheet_link_tag "doorkeeper/admin/application" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
